
# -------------- VISUAL STUDIO --------------
# Directories
Debug
bin
bin-int
.vs/
# Files
*.user
#------------------------------------
Common/imgui/

Projects/Release/

Projects/RenderingEngine/Release/

Projects/RenderingEngine/x64/

Projects/x64/

Projects/RenderingEngine/ntg/Release/

Projects/RenderingEngine/ntg/x64/

Release/

Projects/cmake-build-debug/

Projects/.idea/

cmake-build-release/

cmake-build-debug-visual-studio/

cmake-build-debug-mingw-clang/

cmake-build-debug/

.idea/
